body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto, sans-serif;
  background-color: #12343b;
  color: #e1b382;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90vw;
  border: 1px solid black;
  margin-bottom: 1em;
}

.diagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.table-node {
  border: 1px solid #58aaaf;
  background-color: rgb(205, 186, 194);
  border-radius: 5px;
  height: 1.5rem;
  width: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .react-flow__handle-top {
  top: 12px !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  transform: translate(-50%);
}

.react-flow__handle-bottom {
  top: 12px !important;
  left: 148px !important;
  right: 0px !important;
  bottom: 0 !important;
  transform: translate(-50%);
} */
